chumpy @ git+https://github.com/mattloper/chumpy
numpy==1.26.4
yacs
joblib
scikit-image
opencv-python
imageio[ffmpeg]
matplotlib
tensorboard
smplx
progress
einops
timm
munkres
xtcocotools>=1.8
loguru
setuptools==59.5.0
tqdm
ultralytics
gdown